<main class="tournament-publish-success-page">
  @if (loading()) {
    <p>{{ 'admin.publishSuccess.verifying' | transloco }}</p>
  } @else if (tournament(); as t) {
    @if (t.status === 'PUBLISHED') {
      <h1>{{ 'admin.publishSuccess.publishedTitle' | transloco }}</h1>
      <p>{{ 'admin.publishSuccess.publishedBody' | transloco: { name: t.name } }}</p>
    } @else {
      <h1>{{ 'admin.publishSuccess.pendingTitle' | transloco }}</h1>
      <p>{{ 'admin.publishSuccess.pendingBody' | transloco: { name: t.name } }}</p>
    }
    <a [routerLink]="['/admin/tournaments', tournamentId()]">{{
      'admin.publishSuccess.backToTournament' | transloco
    }}</a>
  } @else {
    <h1>{{ 'admin.publishSuccess.notFoundTitle' | transloco }}</h1>
    <a [routerLink]="['/admin/tournaments']">{{
      'admin.publishSuccess.backToTournaments' | transloco
    }}</a>
  }
</main>
